[submodule "src/unitree_guide"]
	path = src/unitree_guide
	url = https://github.com/unitreerobotics/unitree_guide.git
[submodule "src/unitree_legged_sdk"]
	path = src/unitree_legged_sdk
	url = https://github.com/unitreerobotics/unitree_legged_sdk.git
[submodule "src/unitree_ros"]
	path = src/unitree_ros
	url = https://github.com/unitreerobotics/unitree_ros.git
[submodule "src/unitree_ros_to_real"]
	path = src/unitree_ros_to_real
	url = https://github.com/unitreerobotics/unitree_ros_to_real.git
[submodule "src/towr"]
	path = src/towr
	url = https://github.com/ethz-adrl/towr.git
[submodule "src/ifopt"]
	path = src/ifopt
	url = https://github.com/ethz-adrl/ifopt.git
